@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  height: 100%;
}

.font-title {
  font-family: 'Inter', sans-serif;
}

.font-body {
  font-family: 'Montserrat', sans-serif;
}